<hr>
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><i class="icon ri-instagram-line"></i></a>
            <a href="#"><i class="ri-snapchat-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-facebook-circle-fill"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Groupe Guira © 2018</p>
    </footer>
</div>
