<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1> <i class="ri-slideshow-line ri-xl"></i> PRESENTATION</h1>
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    Groupe guira est une entreprise spécialisée dans le BTP,<br/> elle fournit tout types de service dont vous aurez bésions pour construire vos maison. C'est une entreprise privée située en côte d'ivoire précisement à abidjan, elle à
                    plusieurs parténaires qui sont des sociétées spécialisées dans la construction des maisons et la vente de térrains. Le siège de l'entréprise est situé au plateau dokui à l'arrêt du Dokui. L'entreprise a été fondé par Monsieur <i>Guira Aboulaye</i>                    en 2004. elle emploie aujourd'hui une cinquante de personne
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1> <i class="ri-customer-service-line ri-xl"></i> SERVICE</h1>
                    </mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    Groupe guira est une entreprise spécialisée dans le BTP,<br/> elle fournit tout types de service dont vous aurez bésions pour construire vos maison. C'est une entreprise privée située en côte d'ivoire précisement à abidjan, elle à
                    plusieurs parténaires qui sont des sociétées spécialisées dans la construction des maisons et la vente de térrains. Le siège de l'entréprise est situé au plateau dokui à l'arrêt du Dokui. L'entreprise a été fondé par Monsieur <i>Guira Aboulaye</i>                    en 2004. elle emploie aujourd'hui une cinquante de personne
                </mat-card-content>

                <!--mat-card-footer>Nous suivre
                    <div class="row">
                        <div class="col">
                            <img src="../../../assets/image/facebook.png" width="50" alt="">
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                </mat-card-footer-->
            </mat-card>
        </div>
    </div>
</div>
